---
import Layout from "../../layouts/Site.astro";

type BlogPost = {
  frontmatter: {
    title: string;
    date: string;
    desc: string;
    tags: string[];
  };
  url: string;
  rawContent: string;
};

const posts = Object.values(import.meta.glob("../../pages/blog/*.md", { eager: true })) as BlogPost[];

posts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="Blog">
    <div class="head hasbtn">
      <div>
      <h1 id="title">✏️ Blog!</h1>
      <div>Various talk!</div>
      <div><a href="../feed.xml" class="mof--hidden">Also available on RSS!</a></div>
      </div>
      <div>
      <a class="button rf--hidden" href="../feed.xml" title="RSS Feed"><i class="fas fa-rss fa-xl"></i></a>
      </div>
   </div>
    {posts.map((post) => 
    <div id="blog">
        <ul>
        <li><h2><a href={post.url} id="postlink">{post.frontmatter.title}</a></h2></li>
        </ul>
        <div>{post.frontmatter.date}&nbsp;&nbsp;•&nbsp;&nbsp;<i>{post.frontmatter.desc || 'No description available'}</i></div>
        <div>{post.frontmatter.tags && (<ul id="tagarray" class="rf--hidden">{post.frontmatter.tags.map(tag => (<li><a class="tag rf--hidden" href={`/tags/${encodeURIComponent(tag)}/`}>{tag}</a></li>))}</ul>)}</div>
    </div>
    )}
</Layout>