---
import { d } from "../config";
import pkg from '../../package.json';
export const name = pkg.name;
export const version = pkg.version;
---
<center><div class="content footer">
    <div><b>© {d.copyrightyear} {d.name}</b></div>
    <br>
    <div><b><a href=`http://github.com/${d.sourcecode}`>{name}</a>&nbsp;{version}</b> - <a href=`/cl`>view changelog</a></div>
    <div>Source code of this website is licensed under <a href="https://opensource.org/license/mit">MIT</a></div>
    <div>Blog posts are licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></div>
    <noscript><br>⚠️&nbsp;<i>JavaScript is disabled, some website functionality may be limited</i>&nbsp;⚠️</noscript>
    <div id="nocss"><br><b>[!]</b>&nbsp;<i>Website is in plaintext mode. Things may not load properly - use a browser from 1999+ for the best experience</i>&nbsp;<b>[!]</b></div>
</div></center>