---
const { frontmatter } = Astro.props;
import OldBrowserCheck from '../components/LegacyBrowsers.astro';
import { d } from "../config";
import { ClientRouter } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
    <ClientRouter />
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content=`${d.name}'s website` />
    <meta property="og:image" content={d.logo}>
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.desc} />
    <link rel="icon" type="image/svg+xml" href={d.logo} />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
		<title>{frontmatter.title} ~ {d.name}</title>
	</head>
	<body class="min-h-screen">
    <OldBrowserCheck />
    <Navbar />
         <div class="lg:box-border lg:border-2 lg:rounded-3xl lg:mx-20 xl:mx-40 p-4" id="box">
          <div class="text-3xl font-bold m-1">{frontmatter.title}</div>
            <div class="text-base italic">{frontmatter.desc || 'No description available'}</div>
            <div class="text-sm">🗓️ {frontmatter.date} ・ {frontmatter.tags && (<ul class="tags inline-flex gap-2">{frontmatter.tags.map(tag => (<li class="text-sm"><a class="tag" href={`/tags/${encodeURIComponent(tag)}/`}>{tag}</a></li>))}</ul>)}</div>
        <br>
         <div>
           <div class="prose md:prose-img:h-auto md:prose-img:max-w-[80%] lg:prose-img:max-w-[60%] max-w-none leading-snug">
	        	<slot />
           </div>
         </div>
         </div>
         <Footer />
	</body>
</html>
