---
const { frontmatter } = Astro.props;
import OldBrowserCheck from '../components/LegacyBrowsers.astro';
import Navbar from '../components/Navbar.astro';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
    <ClientRouter />
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content="Clyron's Website" />
    <meta property="og:image" content="../../img/logo.png">
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.desc} />
    <link rel="icon" type="image/svg+xml" href="../../img/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
		<title>{frontmatter.title} ~ Clyron</title>
	</head>
	<body class="min-h-screen">
    <OldBrowserCheck />
    <Navbar />
         <div class="box-border border-2 rounded-3xl p-4 md:ml-15 md:mr-15 lg:ml-40 lg:mr-40">
          <div class="grid justify-items-center" id="blogpost">
            <div class="text-3xl font-bold">{frontmatter.title}</div>
            <div class="text-base pb-4">{frontmatter.date} ・ <i class="font-light">{frontmatter.desc || 'No description available'}</i></div>
         </div>
         <div>
           <div class="prose prose-img:md:max-h-[750px] prose-img:md:max-w-[750px] max-w-none leading-snug">
	        	<slot />
           </div>
         </div>
	</body>
</html>
