---
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="#d9826bs">
        <meta property="og:image" content="https://clyron.is-a.dev/website-exp/logo.png">
		<meta name="description" content={frontmatter.desc} />
		<link rel="icon" type="image/svg+xml" href="https://clyron.is-a.dev/website-exp/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">
        <link rel="stylesheet" href="https://clyron.is-a.dev/website-exp/src/components/style.css" type="text/css">
		<title>{frontmatter.title} ~ Clyron</title>
	</head>
    <!-- temporary since this only wants to work when directly on the css --> <style is:global>
        a {
     text-decoration: underline;
     }
  </style>
	<body>
        <div class="grid justify-center" id="logo">
            <div class="size-36 p-4"><img src="https://clyron.is-a.dev/website-exp/logo.png"></div>
          </div>
          <div class="grid justify-center" id="toptext">
         <div class="md:text-2xl italic">I am just a semi-average internet user~</div>
         </div>
         <div class="box-border border-2 rounded-3xl p-4 sm:ml-10 sm:mr-10 md:ml-15 md:mr-15 lg:ml-20 lg:mr-20 mt-4">
          <div class="grid justify-center" id="navbar">
             <div class="text-lg m-1"><a href="/">Home</a> ・ <a href="/projects">Projects</a> ・ <a href="/socials">Socials</a> ・ <a href="/blog">Blog</a></div>
          </div>
          <div class="grid justify-items-center" id="blogpost">
            <div class="text-3xl font-semibold m-1">{frontmatter.title}</div>
            <div class="text-base font-semibold m-1">{frontmatter.date} ・ {frontmatter.desc} <!--<a href=""><i class="fas fa-rss"></i></a>--></div>
         </div>
         <div class="prose prose-invert prose-img:md:max-h-[750px] prose-img:md:max-w-[750px] <!--max-w-[1000px]--> max-w-none pt-4">
		<slot />
        </div>
	</body>
</html>
